server:
  addr: "0.0.0.0:30000"
  http:
    read_timeout: "5s"
    write_timeout: "5s"
    idle_timeout: "60s"
  cors:
    allowed_origins:
      - http://localhost:3000

data:
  database:
    postgres:
      host: localhost
      port: 5432
      user: user
      password: password
      db_name: postgres
      tls:
        enable: true
        ssl_mode: "verify-ca"
        ca_pem: ""
      timezone: "Asia/Shanghai"
      pool:
        max_conns: 20
        min_conns: 5
        max_conn_lifetime: "1h"
        max_conn_idle_time: "5m"
  cache:
    redis:
      host: localhost
      port: 443
      tls:
        enable: true
        insecure_skip_verify: true
        ca_pem: ""
      username: username
      password: password
      db: 0
      dial_timeout: "5s"
      read_timeout: "3s"
      write_timeout: "3s"
      pool_size: 10
      min_idle_conns: 5

observability:
  enable: false
  trace:
    endpoint: localhost:4317
    tls:
      enable: false
      insecure_skip_verify: true
      ca_pem: ""
  metric:
    endpoint: localhost:4317
    tls:
      enable: false
      insecure_skip_verify: true
      ca_pem: ""
  log:
    endpoint: localhost:4318
    tls:
      enable: false
      insecure_skip_verify: true
      ca_pem: ""

discovery:
  consul:
    addr: localhost:8500
    health_check: true
    scheme: http
    check:
      ttl:
        duration: "30s"
        ping_interval: "10s"
      deregister_critical_service_after: "1m"
    tls:
      enable: false
      insecure_skip_verify: true
      ca_pem: ""
# +co:begin elasticsearch|meilisearch
search:
  catalog:
    endpoint: http://localhost:9200
    username: elastic # +co:elasticsearch
    password: password # +co:elasticsearch
    api_key: "" # +co:meilisearch
    index: products
# +co:end

log:
  application:
    level: debug
    format: console
  framework:
    log_level: info
    error_level: error
    format: console
  # +co:begin elasticsearch
  search:
    enable_request: true
    enable_response: true
  # +co:end

# +co:begin casdoor
auth:
  casdoor:
    endpoint: "http://localhost:8000"
    client_id: "client_id"
    client_secret: "client_secret"
    organization_name: "organization_name"
    application_name: "application_name"
    certificate: ""
# +co:end
